<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="-40.000000" y="-10.000000" file="targets/ram.gif">
		<tag name="command" value="animate;play_sound(sounds/steel_sound_1.wav);" />
		<tag name="name" value="TossUP_Ram_Silhouette.target" />
		<tag name="subtarget" value="TossUP_Ram_Silhouette.target" />
		<tag name="points" value="7" />
	</image>
</target>
