<?xml version="1.0" encoding="UTF-8"?>
<target>
	<image x="-20.000000" y="-20.000000" file="targets/turkey.gif">
		<tag name="command" value="animate;play_sound(sounds/steel_sound_1.wav);" />
		<tag name="name" value="TossUP_Turkey_Silhouette.target" />
		<tag name="subtarget" value="TossUP_Turkey_Silhouette.target" />
		<tag name="points" value="9" />
	</image>
</target>
